<div class="c-container">
    <div class="c-content">

        <h2>加载 load</h2>
        <div class="demo-wrap">
            <p class="demo-label">加载动画</p>
            <div class="demo demo1">
                <div class="demo1-row">
                    <div class="demo1-row-item">
                        <h3 class="demo1-item-title">动画：Rotating plane</h3>
                        <div class="demo1-item-content">
                            <div class="spiner-example">
                                <div class="sk-spinner-rotating-plane"></div>
                            </div>
                        </div>
                    </div>
                    <div class="demo1-row-item">
                        <h3 class="demo1-item-title">动画：Double bounce</h3>
                        <div class="demo1-item-content">
                            <div class="spiner-example">
                                <div class="sk-spinner-double-bounce"></div>
                            </div>
                        </div>
                    </div>
                    <div class="demo1-row-item">
                        <h3 class="demo1-item-title">动画：Wave</h3>
                        <div class="demo1-item-content">
                            <div class="spiner-example">
                                <div class="sk-spinner-wave">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="demo1-row-item">
                        <h3 class="demo1-item-title">动画：Wandering cubes</h3>
                        <div class="demo1-item-content">
                            <div class="spiner-example">
                                <div class="sk-spinner-wandering-cubes"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>