<div class="c-container">
    <div class="c-content">

        <h2>斜切角</h2>
        <div class="demo-wrap">
            <p class="demo-label">渐变实现</p>
            <div class="demo bea-linear">
                我们只需要一个线性渐变就ok了。它需要一个透明的色标作为斜切角，
                还有另一个相同位置的带有我们想要作为背景颜色的色标。CSS代码如下（如一个15px大小的切角）
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">渐变实现2</p>
            <div class="demo bea-linear2">
                我们只需要一个线性渐变就ok了。它需要一个透明的色标作为斜切角，
                还有另一个相同位置的带有我们想要作为背景颜色的色标。CSS代码如下（如一个15px大小的切角）
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">渐变实现3</p>
            <div class="demo bea-linear3">
                我们只需要一个线性渐变就ok了。它需要一个透明的色标作为斜切角，
                还有另一个相同位置的带有我们想要作为背景颜色的色标。CSS代码如下（如一个15px大小的切角）
            </div>
        </div>

        

        <div class="demo-wrap">
            <p class="demo-label">渐变实现4 scss预处理</p>
            <div class="demo bea-linear4">
                我们只需要一个线性渐变就ok了。它需要一个透明的色标作为斜切角，
                还有另一个相同位置的带有我们想要作为背景颜色的色标。CSS代码如下（如一个15px大小的切角）
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">渐变实现5 圆切角</p>
            <div class="demo bea-radial">
                我们只需要一个线性渐变就ok了。它需要一个透明的色标作为斜切角，
                还有另一个相同位置的带有我们想要作为背景颜色的色标。CSS代码如下（如一个15px大小的切角）
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">梯形标签</p>
            <div class="demo demo-trapezoid">
                <div class="demo-row">
                    来源于:
                    <a href="https://www.w3cplus.com/blog/1658.html" target="_blank">CSS秘密花园：梯形标签</a>
                </div>
                <div class="demo-row">
                    <div class="label">
                        TRAPEZOID
                    </div>
                </div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">平行四边形标签</p>
            <div class="demo demo-parallelogram">
                <div class="demo-row">
                    来源于:
                    <a href="https://www.w3cplus.com/css3/css-secrets/parallelograms.html" target="_blank">CSS秘密花园：平行四边形</a>
                </div>
                <div class="demo-row">
                    <div class="label">
                        Parallelogram
                    </div>
                </div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">圆形镂空</p>
            <div class="dmeo demo-hollowout-round">
                <div class=""></div>
            </div>
        </div>
    </div>
</div>