<div class="c-container">
    <div class="c-content">

        <h2>选项卡 tab</h2>
        <div class="demo-wrap">
            <p class="demo-label">focus锚点实现tab切换</p>
            <div class="demo demo1">
                <div class="demo-row">
                    来源于：
                    <a href="https://www.zhangxinxu.com/wordpress/2018/10/scroll-behavior-scrollintoview-%E5%B9%B3%E6%BB%91%E6%BB%9A%E5%8A%A8/" 
                    target="_blank">CSS scroll-behavior和JS scrollIntoView让页面滚动平滑</a>
                </div>
                <div class="box">
                    <div class="list"><input id ="one">1</div>
                    <div class="list"><input id ="two">2</div>
                    <div class="list"><input id ="three">3</div>
                    <div class="list"><input id ="four">4</div>
                </div>
                <div class="link">
                    <label class="click" for="one">1</label>
                    <label class="click" for="two">2</label>
                    <label class="click" for="three">3</label>
                    <label class="click" for="four">4</label>
                </div>
            </div>
        </div>
        
        <div class="demo-wrap">
            <p class="demo-label">底部边框动画</p>
            <div class="demo demo2">
                <!-- 追随动画 -->
                <ul class="tabs">
                    <li>tabs1</li>
                    <li>tabs2</li>
                    <li>tabs3</li>
                    <li>tabs4</li>
                    <li>tabs5</li>
                </ul>

                <!-- 中间展开动画 -->
                <ul class="tabcs">
                    <li>tabcs1</li>
                    <li>tabcs2</li>
                    <li>tabcs3</li>
                    <li>tabcs4</li>
                    <li>tabcs5</li>
                </ul>
            </div>
        </div>
        
    </div>
</div>