<div class="c-container">
    <div class="c-content">

        <h2>滚动条</h2>
        <div class="demo-wrap">
            <p class="demo-label">demo1</p>
            <div class="demo scroll-demo">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo2</p>
            <div class="demo scroll-demo scroll-demo2">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo3</p>
            <div class="demo scroll-demo scroll-demo3">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo4</p>
            <div class="demo scroll-demo scroll-demo4">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo5</p>
            <div class="demo scroll-demo scroll-demo5">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo6</p>
            <div class="demo scroll-demo scroll-demo6">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo7</p>
            <div class="demo scroll-demo scroll-demo7">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo8</p>
            <div class="demo scroll-demo scroll-demo8">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo9</p>
            <div class="demo scroll-demo scroll-demo9">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo10</p>
            <div class="demo scroll-demo scroll-demo10">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo11</p>
            <div class="demo scroll-demo scroll-demo11">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo12</p>
            <div class="demo scroll-demo scroll-demo12">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo13</p>
            <div class="demo scroll-demo scroll-demo13">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo14</p>
            <div class="demo scroll-demo scroll-demo14">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo15</p>
            <div class="demo scroll-demo scroll-demo15">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo16</p>
            <div class="demo scroll-demo scroll-demo16">
                <div class="demo-content" [style.width]="isScrollX ? scrollWidth : width" [style.height]="isScrollY ? scrollHeight : height"></div>
            </div>
        </div>

    </div>
    <div class="c-fixed">
        <div class="fixed-content">
            <label nz-checkbox [(ngModel)]="isScrollX">scolly-x: {{isScrollX}}</label>
            <label nz-checkbox [(ngModel)]="isScrollY">scolly-Y: {{isScrollY}}</label>
        </div>
    </div>
</div>