<div class="c-container">
    <div class="c-content">

        <h2>价格表 price-list</h2>
        <div class="demo-wrap">
            <p class="demo-label">Sonam</p>
            <div class="demo pricing-sonam">
                <div class="pricing-item">
                    <h3 class="pricing-title">Startup</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>9.90
                    </div>
                    <p class="pricing-sentence">Small business solution</p>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">40MB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>

                <div class="pricing-item">
                    <h3 class="pricing-title">Standard</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>29,90
                    </div>
                    <p class="pricing-sentence">Medium business solution</p>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">10 hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">1GB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
                
                <div class="pricing-item">
                    <h3 class="pricing-title">Professional</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>59.90
                    </div>
                    <p class="pricing-sentence">Gigantic business solution</p>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">Unlimited hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">Anaylitcs integration</li>
                        <li class="pricing-feature">Unlimited storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
            </div>
        </div>


        <div class="demo-wrap">
            <p class="demo-label">Jinpa</p>
            <div class="demo pricing-jinpa">
                <div class="pricing-item">
                    <h3 class="pricing-title">Startup</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>9.90
                    </div>
                    <p class="pricing-sentence">Small business solution</p>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">40MB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>

                <div class="pricing-item">
                    <h3 class="pricing-title">Standard</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>29,90
                    </div>
                    <p class="pricing-sentence">Medium business solution</p>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">10 hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">1GB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
                
                <div class="pricing-item">
                    <h3 class="pricing-title">Professional</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>59.90
                    </div>
                    <p class="pricing-sentence">Gigantic business solution</p>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">Unlimited hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">Anaylitcs integration</li>
                        <li class="pricing-feature">Unlimited storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
            </div>
        </div>


        <div class="demo-wrap">
            <p class="demo-label">Tenzin</p>
            <div class="demo pricing-tenzin">
                <div class="pricing-item">
                    <h3 class="pricing-title">Startup</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>9.90
                    </div>
                    <p class="pricing-sentence">Small business solution</p>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">40MB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>

                <div class="pricing-item">
                    <h3 class="pricing-title">Standard</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>29,90
                    </div>
                    <p class="pricing-sentence">Medium business solution</p>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">10 hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">1GB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
                
                <div class="pricing-item">
                    <h3 class="pricing-title">Professional</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>59.90
                    </div>
                    <p class="pricing-sentence">Gigantic business solution</p>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">Unlimited hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">Anaylitcs integration</li>
                        <li class="pricing-feature">Unlimited storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
            </div>
        </div>


        <div class="demo-wrap">
            <p class="demo-label">Yama</p>
            <div class="demo pricing-yama">
                <div class="pricing-item">
                    <h3 class="pricing-title">Startup</h3>
                    <p class="pricing-sentence">Small business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>9.90
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">40MB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>

                <div class="pricing-item">
                    <h3 class="pricing-title">Standard</h3>
                    <p class="pricing-sentence">Medium business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>29,90
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">10 hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">1GB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
                
                <div class="pricing-item">
                    <h3 class="pricing-title">Professional</h3>
                    <p class="pricing-sentence">Gigantic business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>59.90
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">Unlimited hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">Anaylitcs integration</li>
                        <li class="pricing-feature">Unlimited storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
            </div>
        </div>


        <div class="demo-wrap">
            <p class="demo-label">Karma</p>
            <div class="demo pricing-karma">
                <div class="pricing-item">
                    <h3 class="pricing-title">Startup</h3>
                    <p class="pricing-sentence">Small business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>9.90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">40MB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>

                <div class="pricing-item pricing-karma-featured">
                    <h3 class="pricing-title">Standard</h3>
                    <p class="pricing-sentence">Medium business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>29,90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">10 hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">1GB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
                
                <div class="pricing-item">
                    <h3 class="pricing-title">Professional</h3>
                    <p class="pricing-sentence">Gigantic business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>59.90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">Unlimited hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">Anaylitcs integration</li>
                        <li class="pricing-feature">Unlimited storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
            </div>
        </div>


        <div class="demo-wrap">
            <p class="demo-label">Norbu</p>
            <div class="demo pricing-norbu">
                <div class="pricing-item">
                    <h3 class="pricing-title">Startup</h3>
                    <p class="pricing-sentence">Small business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>9.90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">40MB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>

                <div class="pricing-item">
                    <h3 class="pricing-title">Standard</h3>
                    <p class="pricing-sentence">Medium business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>29,90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">10 hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">1GB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
                
                <div class="pricing-item">
                    <h3 class="pricing-title">Professional</h3>
                    <p class="pricing-sentence">Gigantic business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>59.90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">Unlimited hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">Anaylitcs integration</li>
                        <li class="pricing-feature">Unlimited storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
            </div>
        </div>


        <div class="demo-wrap">
            <p class="demo-label">Yonten</p>
            <div class="demo pricing-yonten">
                <div class="pricing-item">
                    <h3 class="pricing-title">Startup</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>9.90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">40MB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>

                <div class="pricing-item">
                    <h3 class="pricing-title">Standard</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>29,90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">10 hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">1GB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
                
                <div class="pricing-item">
                    <h3 class="pricing-title">Professional</h3>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>59.90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">Unlimited hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">Anaylitcs integration</li>
                        <li class="pricing-feature">Unlimited storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
            </div>
        </div>


        <div class="demo-wrap">
            <p class="demo-label">Tashi</p>
            <div class="demo pricing-tashi">
                <div class="pricing-item">
                    <h3 class="pricing-title">Startup</h3>
                    <p class="pricing-sentence">Small business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>9.90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">40MB of storage space</li>
                    </ul>
                    <button class="pricing-action"></button>
                </div>

                <div class="pricing-item">
                    <h3 class="pricing-title">Standard</h3>
                    <p class="pricing-sentence">Medium business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>29,90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">10 hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">1GB of storage space</li>
                    </ul>
                    <button class="pricing-action"></button>
                </div>
                
                <div class="pricing-item">
                    <h3 class="pricing-title">Professional</h3>
                    <p class="pricing-sentence">Gigantic business solution</p>
                    <div class="pricing-price">
                        <span class="pricing-currency">$</span>59.90
                        <span class="pricing-period">/ month</span>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">Unlimited hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">Anaylitcs integration</li>
                        <li class="pricing-feature">Unlimited storage space</li>
                    </ul>
                    <button class="pricing-action"></button>
                </div>
            </div>
        </div>


        <div class="demo-wrap">
            <p class="demo-label">Palden</p>
            <div class="demo pricing-palden">
                <div class="pricing-item">
                    <div class="pricing-deco">
                        <div class="pricing-price">
                            <span class="pricing-currency">$</span>9.90
                            <span class="pricing-period">/ month</span>
                        </div>
                        <h3 class="pricing-title">Startup</h3>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">40MB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>

                <div class="pricing-item pricing-item-featured">
                    <div class="pricing-deco">
                        <div class="pricing-price">
                            <span class="pricing-currency">$</span>29,90
                            <span class="pricing-period">/ month</span>
                        </div>
                        <h3 class="pricing-title">Standard</h3>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">10 hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">1GB of storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
                
                <div class="pricing-item">
                    <div class="pricing-deco">
                        <div class="pricing-price">
                            <span class="pricing-currency">$</span>59.90
                            <span class="pricing-period">/ month</span>
                        </div>
                        <h3 class="pricing-title">Professional</h3>
                    </div>
                    <ul class="pricing-feature-list">
                        <li class="pricing-feature">Unlimited calls</li>
                        <li class="pricing-feature">Free hosting</li>
                        <li class="pricing-feature">Unlimited hours of support</li>
                        <li class="pricing-feature">Social media integration</li>
                        <li class="pricing-feature">Anaylitcs integration</li>
                        <li class="pricing-feature">Unlimited storage space</li>
                    </ul>
                    <button class="pricing-action">Choose plan</button>
                </div>
            </div>
        </div>

    </div>
</div>