<div class="c-container">
    <div class="c-content">

        <h2>阴影</h2>
        <div class="demo-wrap">
            <p class="demo-label">基本用法</p>
            <div class="demo demo-shadow">
                
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo2</p>
            <div class="demo demo-shadow shadow2">
                
            </div>
        </div>
        
        <div class="demo-wrap">
            <p class="demo-label">内阴影</p>
            <div class="demo demo-shadow shadow3">
                
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">阴影扩展长度值</p>
            <div class="demo demo-shadow shadow4">
                
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo5</p>
            <div class="demo demo-shadow shadow5">
                
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">demo6</p>
            <div class="demo demo-shadow shadow6">
                
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">多重阴影</p>
            <div class="demo demo-shadow shadow7">
                
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">伪元素::before和::after</p>
            <div class="demo demo-shadow2 shadow8">
                
            </div>
        </div>

    </div>
</div>