<div class="c-container">
    <div class="c-content">

        <h2>输入框 input</h2>
        <div class="demo-wrap">
            <p class="demo-label">CSS3发光的搜索框</p>
            <div class="demo demo1">
                <div class="input-wrap">
                    <input type="search" placeholder="请输入搜索内容">
                    <button>Search</button>
                </div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">CSS3单选框/复选框美化</p>
            <div class="demo demo2">
                <div class="input-wrap">
                    <input type="radio" name="Storage" id="model1">
                    <label for="model1">radio model1</label>
                    <input type="radio" name="Storage" id="model2">
                    <label for="model2">radio model2</label>
                    <input type="radio" name="Storage" id="model3">
                    <label for="model3">radio model3</label>
                    <input type="radio" name="Storage" id="model4">
                    <label for="model4">radio model4</label>
                </div>
                <div class="input-wrap">
                    <input type="checkbox" id="cmodel1">
                    <label for="cmodel1">checkbox model1</label>
                    <input type="checkbox" id="cmodel2">
                    <label for="cmodel2">checkbox model2</label>
                    <input type="checkbox" id="cmodel3">
                    <label for="cmodel3">checkbox model3</label>
                    <input type="checkbox" id="cmodel4">
                    <label for="cmodel4">checkbox model4</label>
                </div>
            </div>
        </div>

    </div>
</div>