<div class="c-container">
    <div class="c-content">

        <h2>输入框 input</h2>
        <div class="demo-wrap">
            <p class="demo-label">CSS3发光的搜索框</p>
            <div class="demo demo1">
                <div class="input-wrap">
                    <input type="search" placeholder="请输入搜索内容">
                    <button>Search</button>
                </div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">CSS3单选框/复选框美化</p>
            <div class="demo demo2">
                <div class="input-wrap">
                    <input type="radio" name="Storage" id="model1">
                    <label for="model1">radio model1</label>
                    <input type="radio" name="Storage" id="model2">
                    <label for="model2">radio model2</label>
                    <input type="radio" name="Storage" id="model3">
                    <label for="model3">radio model3</label>
                    <input type="radio" name="Storage" id="model4">
                    <label for="model4">radio model4</label>
                </div>
                <div class="input-wrap">
                    <input type="checkbox" id="cmodel1">
                    <label for="cmodel1">checkbox model1</label>
                    <input type="checkbox" id="cmodel2">
                    <label for="cmodel2">checkbox model2</label>
                    <input type="checkbox" id="cmodel3">
                    <label for="cmodel3">checkbox model3</label>
                    <input type="checkbox" id="cmodel4">
                    <label for="cmodel4">checkbox model4</label>
                </div>
            </div>
        </div>

        <div class="demo-wrap">
            <p class="demo-label">range</p>
            <div class="demo demo3">
                <div class="input-wrap">
                    <div class="demo-row">
                        <input type="range">
                    </div>
                    <div class="demo row">
                        <input class="range" type="range" value="30">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="demo-wrap">
            <p class="demo-label">占位符交互效果</p>
            <div class="demo demo4">
                <div class="demo-row">
                    来源于<a href="https://www.zhangxinxu.com/wordpress/2018/12/css-placeholder-shown-material-design/" target="_blank">
                        CSS :placeholder-shown伪类实现Material Design占位符交互效果
                    </a>
                </div>
                <div class="demo-row">
                    <h4>填充风格</h4>
                    <div class="input-fill-x">
                        <input class="input-control input-fill" placeholder="邮箱">
                        <label class="input-label">邮箱</label>
                    </div>
                    <h4>轮廓风格</h4>
                    <div class="input-outline-x">
                        <input class="input-control input-outline" placeholder="邮箱">
                        <label class="input-label">邮箱</label>
                    </div>
                    <h4>文本域</h4>
                    <div class="textarea-outline-x">
                        <textarea class="input-control textarea-outline" cols="25" rows="3" placeholder="评论"></textarea>
                        <label class="input-label">评论</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>