@import '../csser';

.demo1 {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: calc(100% - 10px);
    background-color: #151515;
    border-radius: 4px;
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        height: 1px;
        width: 100%;
    }
    &:before {
        // 这种写法只有 -webkit生效 属于不标准语法
        // @include linear-gradient(left, #151515, #444, #151515);

        @include linear-gradient(to left, #151515, #444, #151515);
    }
    &:after {
        // @include linear-gradient(to right, #151515, #000, #151515);
    }

    .input-wrap {
        position: relative;
        display: flex;
        padding: 20px;
        font-size: 0;
        @include linear-gradient(#1b1b1b,#111);
        border: 1px solid #000;
        border-radius: 4px;
        box-shadow: inset 0 0 0 1px #272727;
        z-index: 1;
        
        input {
            padding: 0 10px;
            width: 200px;
            height: 40px;
            color: #888;
            font-size: 14px;
            font-weight: 400;
            @include linear-gradient(#333, #222);
            border: 1px solid #444;
            border-radius: 4px 0 0 4px;
            box-shadow: 0 2px 0 #000;
            text-shadow: 0 -1px 0 #000;

            &[type="search"] {
                // 渲染成textfield的风格
                -webkit-appearance: textfield;
                box-sizing: content-box;
            }

            &:focus {
                color: #efe;
                @include linear-gradient(#333933, #222922);
                @include animation(glow 800ms ease-out infinite alternate);
                border-color: #393;
                box-shadow: 0 0 5px rgba(0, 255, 0, .2),
                            inset 0 0 5px rgba(0, 255, 0, .1),
                            0 2px 0 #000;
                outline: none;
            }
        }

        button {
            position: relative;
            width: 80px;
            height:40px;
            box-sizing: content-box;
            color: #fff;
            line-height: 40px;
            font-size: 14px ;
            font-weight: 400;
            @include linear-gradient(#333, #222);
            border: 1px solid #444;
            border-left-color: #000;
            border-radius: 0 4px 4px 0;
            box-shadow: 0 2px 0 #000;
            text-shadow: 0 -1px 0 #000;
            -webkit-appearance: button;
            cursor: pointer;

            &:hover,
            &:focus {
                color: #5f5;
                @include linear-gradient(#393939, #292929);
                outline: none;
            }
            &:active {
                @include linear-gradient(#393939, #292929);
                box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
                @include transform(translateY(1px));
            }
        }
    }
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0, 255, 0, .2),
                    inset 0 0 5px rgba(0, 255, 0, .1),
                    0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0, 255, 0, .6),
                    inset 0 0 10px rgba(0, 255, 0, .4),
                    0 2px 0 #000;
    }
}


/*--------------------------------分割线---------------------------------------*/

.demo2 {
    .input-wrap {
        margin: 10px;
        
        input {
            display: none;

            &:checked + label {
                color: #00a4ff;
                background: url(../../../assets/imgs/csser/ico_checkon.svg) no-repeat right bottom;
                background-size: 21px 21px;
            }
        } 

        label {
            display: inline-block;
            margin: 2px;
            padding: 2px 10px 2px 4px;
            min-width: 80px;
            line-height: 28px;
            text-align: center;
            border: 1px solid #00a4ff;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}


/*--------------------------------分割线---------------------------------------*/
.demo3 {
    .range[type=range]{ 
        margin-top: 8px;
        outline: none; 
        -webkit-appearance: none;/*清除系统默认样式*/  
        width:56% !important;  
        background: -webkit-linear-gradient(#61bd12, #61bd12) no-repeat, #ddd;  
        background-size: 30% 100%;/*设置左右宽度比例*/  
        height: 3px;/*横条的高度*/  
    } 
    /*拖动块的样式*/  
    .range[type=range]::-webkit-slider-thumb {  
        -webkit-appearance: none;/*清除系统默认样式*/  
        height:16px;/*拖动块高度*/  
        width: 16px;/*拖动块宽度*/  
        background: #fff;/*拖动块背景*/  
        border-radius: 50%; /*外观设置为圆形*/  
        border: solid 1px #ddd; /*设置边框*/  
    } 

}


/*--------------------------------分割线---------------------------------------*/
.demo4 {
    .input-x {
        position: relative;
        /* fit-content见文章：https://www.zhangxinxu.com/wordpress/?p=5392 */
        width: -webkit-fit-content;
        width: -moz-fir-content;
        width: fit-content;
    }
    .outline {
        padding: 13px 16px 13px;
        border: 1px solid #d0d0d5;
        border-radius: 4px;
        @include transition(border-color .25s);
    }
    .input-fill-x {
        @extend .input-x;
        border-bottom: 1px solid #d0d0d5;
        
        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -1px;
            left: 0;
            border-bottom: 2px solid #2486ff;
            @include transform(scaleX(0));
            @include transition(transform .25s);
        }
        /* :focus-within见文章：https://www.zhangxinxu.com/wordpress/?p=7327 */
        &:focus-within::after {
            @include transform(scaleX(1));
        }
        .input-fill {
            padding: 20px 16px 6px;
            border: 1px solid transparent;
            background-color: #f5f5f5;
            
            /* 填充样式下label定位 */
            &:not(:placeholder-shown) ~ .input-label,
            &:focus ~ .input-label {
                color: #2486ff;
                @include transform(scale(.75) translateY(-14px));
            }
        }
    }
    .input-outline-x {
        @extend .input-x;

        .input-outline {
            @extend .outline;

            &:focus {
                border-color: #2486ff;
            }
            /* 线框交互下有个白色背景 */
            & ~ .input-label {
                background-color: #fff;
            }
        }

    }
    .textarea-outline-x {
        @extend .input-x;

        .textarea-outline {
            @extend .outline;

            &:focus {
                border-color: #2486ff;
            }
            /* 线框交互下有个白色背景 */
            & ~ .input-label {
                background-color: #fff;
            }
        }
    }
    .input-control {
        margin: 0;
        line-height: 1.5;
        font-size: 16px;
        outline: none;
        /* 默认placeholder颜色透明不可见 */
        &:placeholder-shown::placeholder {
            color: transparent;
        }
        /* 线框样式label定位 */
        &:not(:placeholder-shown) ~ .input-label,
        &:focus ~ .input-label {
            color: #2486ff;
            @include transform(scale(.75) translateY(-14px));
        }
    }
    .input-label {
        position: absolute;
        top: 14px;
        left: 16px;
        padding: 0 2px;
        line-height: 1.5;
        color: #a2a9b6;
        font-size: 16px;
        pointer-events: none;
        transform-origin: 0 0;
        @include transition(all .25s);
    }
}