.ant-layout-header {
    color: #fff;
}
.ant-layout-sider {
    background-color: #fff;
}
.ant-layout-content {
    // padding: 10px 10px 0;
}
.content-wrap {
    padding: 0 10px;
    
    .content {
        background-color:#fff;
        // border-radius: 4px;
    }
}