<div class="c-container">
    <div class="c-content">

        <h2>字体 font</h2>
        <div class="demo-wrap">
            <p class="demo-label">3d翻转效果制作3D折叠字体效果</p>
            <div class="demo demo1">
                <p>
                    <span data-text="3">3</span>
                    <span data-text="D">D</span>
                    <span data-text="折">折</span>
                    <span data-text="叠">叠</span>
                    <span data-text="字">字</span>
                    <span data-text="体">体</span>
                </p>
            </div>
        </div>

    </div>
</div>