@import '../csser';

.demo1 {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    box-sizing: border-box;
    width: calc(100% - 20px);
    background-color: #684da3;
    border-radius: 4px;

    p {
        margin: 0;
        color: #fff;
        font-size: 10em;
        span {
            position: relative;
            display: inline-block;
            margin: 0.1em;
            // 保留3D转换
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            // 定义 3D 元素距视图的距离 (目前浏览器都不支持perspective属性 Chrome和Safari支持替代的-webkit-perspective属性)
            -webkit-perspective: 500;
            // 字体抗锯齿渲染
            -webkit-font-smoothing: antialiased;

            &:before,
            &:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: -1px;
                // 设置旋转元素的基点位置
                transform-origin: left top;
                @include transition(all ease-out 0.3s);
            }

            &:before {
                color: rgba(0, 0, 0, .2);
                @include transform(scale(1.1, 1) skew(0,20deg));
                z-index: 1;
            }

            &:after {
                color: #684da3;
                text-shadow: -1px 0 1px #684da3,
                            1px 0 1px rgba(0, 0, 0, .8);
                // @include transform(rotateY(-40deg));
                @include transform(rotateY(-30deg));
                z-index: 2;
            }


            &:hover {
                &:before {
                    @include transform(scale(1.1, 1) skew(0, 5deg));
                }
                &:after {
                    @include transform(rotateY(-10deg));
                }
            }
        }
    }
}



/*----------------------------------------------分割线----------------------------------------------------------*/
// 文字颜色渐变
.text-clip {
    color: transparent;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(45deg, rgba(0,173,181,1) 0%, rgba(0,173,181,.4)  100%);
    -webkit-background-clip: text;
}

/*----------------------------------------------分割线----------------------------------------------------------*/
// 文字模糊
.text-blurry{
    text-align: center;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/*----------------------------------------------分割线----------------------------------------------------------*/
// 空心文字
.hollow-text {
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882);
}

/*----------------------------------------------分割线----------------------------------------------------------*/
// 文字外发光
.glow-text {
    line-height:60px;
    background: #00adb5;
    color:#fff;
    text-align: center;
    text-shadow: 0 0 0.1em, 0 0 0.3em;
}

/*----------------------------------------------分割线----------------------------------------------------------*/
// 文字阴影
.text-shadow {
    color:#00adb5;
    text-shadow: 1px 1px rgba(0,173,181,.2882),
    2px 2px rgba(0,173,181,.2882),
    3px 3px rgba(0,173,181,.2882),
    4px 4px rgba(0,173,181,.2882);
}